html {
      height: auto;
}

body {
      background-color: darkblue;
      background-image: url(image/assortment-pieces-cake\ \(1\).jpg);
      background-size: cover;
      background-repeat: no-repeat; 
      background-position: center;
}

.container {
      margin-left: auto;
      margin-right: auto;
      width: 1024px;
}

header {
      
      height: 118px;
      text-align: center;
               
}

nav {
      background-color: rgba(0, 0, 0, 0.39);
      text-align: center;
      padding-top: 14px;
      padding-bottom: 14px;

}

main {
      
      height: 400px;
      text-align: center;
      padding-left: 240px;
      padding-right: 240px;
      padding-top: 80px;
}

footer {
      background-color: rgba(0, 0, 0, 0.39);
      height: 40px;
      padding-top: 14px;
      padding-bottom: 14px;
      
}

h1 {
      font-size: 48px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    
}

img {
      max-width: 25%;
      max-height: 25%;
}
p {
      font-size: 18px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
}
 a {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      /* text-decoration: none; */
 }

 nav a {
      text-decoration: none;
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
 }

 footer p {
      color: rgb(216, 213, 213);
      font-size: 10px;
      text-align: center;

 }

 .maps {
      padding-top: 100px;
      padding-bottom: 80px;
 }

 